apikit/src/main/mule/ExtractHeaders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="checkrequesttypeflow" doc:id="913cfbc7-0814-41af-88bd-5e5a1d4ebce6" >
		
		<choice doc:name="Routes according to content type" doc:id="31e1ffa5-f63a-42a5-bd10-f890254613fc" >
			<when expression='#[vars.requestHeaders."content-type" == "application/json"]'>
				<set-payload value='#[vars.requestHeaders."content-type"]' doc:name="Set reponse for json request" doc:id="dc68b797-9529-4b8f-8844-3c079668aae6" />
				<ee:transform doc:name="Transform Message" doc:id="c25dc719-d25c-445f-b8e1-53bc83eaed83" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	'content-type':payload."content-type"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[vars.requestHeaders."content-type" == "application/xml"]'>
				<set-payload value='#[vars.requestHeaders."content-type"]' doc:name="Set reponse for xml request" doc:id="2434a4ea-66a6-4ac5-a0af-a1b5ba2e2988" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="adbd2c04-2120-48e6-8cf9-fe2352fc7d94" message="#['This will never execute because api root kit will throw exception for a un defined request type']"/>
			</otherwise>
		</choice>
		<error-handler ref="FlowErrorHandler"/>
	</flow>
</mule>
