soapapikit/src/main/mule/soapapikit.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8888" />
	</http:listener-config>
	<apikit-soap:config name="soapkit-config" port="TshirtServicePort"
		service="TshirtService" wsdlLocation="tshirt2.wsdl"
		address="http://localhost:8888/tshirtService" />
	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig" path="/tshirtService">
			<http:response statusCode="#[attributes.protocolHeaders.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-type" : "application/soap+xml"
}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[attributes.protocolHeaders.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<apikit-soap:router config-ref="soapkit-config">
			<apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
		</apikit-soap:router>
	</flow>
	<flow name="OrderTshirt:\soapkit-config">
		<ee:transform
			doc:name="Get soap request header,body and attachments.Assign this to variables"
			doc:id="7f0266e9-cd3e-4274-a9fc-f1e36807f737">
			<ee:variables>
				<ee:set-variable variableName="orderTshirtBody"><![CDATA[%dw 2.0
output application/xml
---
payload.body]]></ee:set-variable>
				<ee:set-variable variableName="orderTshirtHeader"><![CDATA[%dw 2.0
output application/java
---
payload.headers]]></ee:set-variable>
				<ee:set-variable variableName="orderTshirtAttachments"><![CDATA[%dw 2.0
output application/java
---
payload.attachments]]></ee:set-variable>
			</ee:variables>

		</ee:transform>
		<logger level="INFO" doc:name="logs a soap request header"
			doc:id="765c29bb-3ad0-43f6-8409-184814de156b"
			message="#[output application/java 
ns tsh http://mulesoft.org/tshirt-service
--- 
payload.headers.tsh#AuthenticationHeader.apiKey]" />
		<ee:transform doc:name="Set soap response"
			doc:id="dc8efb10-bc87-40c3-b61b-63036fa63b15">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://mulesoft.org/tshirt-service
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
	 soap#headers: {
        "APIUsageInformation": {
            APIUsageInformation: 10
        } write "application/xml"
    },
	soap#body : {
		ns0#OrderTshirtResponse: {
			orderId: '98238WEW212'
		}
	} write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue" doc:id="e37105f5-79fe-45d1-8b18-53532c38c5f5">
				<ee:transform doc:id="1ef6e341-0141-42fa-8c62-2162898dad04">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Error while executing operation [OrderTshirt]"
        }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ListInventory:\soapkit-config">
		<ee:transform doc:id="fb1f95c2-58eb-42f2-b938-e1146eb86630">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [ListInventory:\soapkit-config] not implemented"
        }
    }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="TrackOrder:\soapkit-config">
		<ee:transform doc:id="1d6aa24a-c654-44d5-be5b-7ac1991a39e3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [TrackOrder:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
